
* {

    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    color: white;

}

html , body {

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(./img/bg.jpg);
    background-size: cover;
    background-position: center;

}

.mainSpace {

    width: 90%;
    height: 90%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.33);

    backdrop-filter: blur(33px);

    border: 1px solid rgba(240, 240, 240, 0.15);

    border-radius: 15px;

    overflow: hidden;


}

.inputsSpace {

    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

}

.numsInput {

    width: 180px;
    height: 42px;

    text-align: center;

    margin: 66px 15px;
    padding: 6px;

    background-color: rgba(0, 0, 0, 0.33);

    border-radius: 9px;

    font-size: 15px;

}

.numsInput::placeholder {

    color: rgba(255, 255, 255, 0.66);

}

.resultSpace {

    width: 390px;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    overflow: hidden;

}

.result {

    margin: 9px;

}